/* CSS Reset */

* {

    margin:0;
    padding:0;
    box-sizing: border-box;

}

html {

    font-family:'Lucida Sans';
}

img { 

    height:100%;

}

/* Hero Section */

.hero-section {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/slide.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
}

.hero-container {

    padding:0 70px;
    height:100vh;
    position: relative;
    
}

.hero-nav { 

    display:flex;
    justify-content: space-between;
    height: 120px;
    padding-top: 15px;

}

.hero-nav > ul {

    display:flex;
    align-items: center;
    color : white;
    list-style: none;
    
}

.hero-nav > ul > li {

    margin-right:30px;
    font-size : 14px;
    
}

.hero-nav > ul > li:last-child {

    margin-right: 0;

}

.hero-slideshow {  

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.hero-header-text {
    
    color:white;
    font-size: 40px;
    margin-bottom: 50px;
    
}

.hero-slideshow > ul {

    display:flex;
    justify-content: center;
    list-style: none; 

}

/* BBD Foundations Section */


.foundations-container {

    
    background-color: rgb(240, 239, 239);
    padding: 40px 0;
}

.foundations-heading {

    text-transform: uppercase;
    text-align: center;
    /* font-size: auto; */
    margin-bottom: 20px;

}

.foundations {

    display: flex;
    flex-wrap: wrap;

}

.foundations-card {

    flex: 1;
    text-align: center;
    padding: 30px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 5px;

}

.foundations-card > img {

    height:80px;
    margin-bottom: 10px;

}

.foundations-card-heading {

    margin-bottom: 20px;

}

/* Video Section */

.video-container {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/parallax-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    text-align: center;
    padding :50px 0
   
}

.video-heading {

    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.video-container > img {

    width:60%;
    height:auto;
    padding: 0 20px;
}

/* Join BDD section */

.join-container {

    padding: 40px 0;

}

.join-heading {

    text-transform: uppercase;
    text-align: center;

}

.join-row {

    display: flex;
    justify-content:flex-start;
    padding: 40px 0;
}

.join-row > img {

    max-width: 100%;
    height:auto;
}

.join-cols {

    display:flex;
    flex-wrap: wrap;
    margin:20px 50px;

}

.join-cards {

    flex:1;
    background: url(../images/bg-icon.png);
    padding: 20px;
    margin: 20px 20px; 
}

.join-cards > h3 {

    text-transform: uppercase;
    margin-bottom: 20px;
}

.join-cards > ul > li {

    margin-bottom: 20px;
    line-height: 30px;

}

.bdd-applink {

    display: flex;
    flex-direction: row;
    justify-content: end;

}

/* Statistics Section */

.stat-container {

    background: url(../images/parallax-light.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    text-align: center;

}

.statistics {

    padding: 40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}


/* Utilities */

.dot {

    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    
}

.arrow {

    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;

}

.down {

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.btn {

    background-color: #0078BE;
    color:white;
    border:none;
    border-radius: 20px;
    padding :10px 20px;

}

/* Media Queries */

