/* CSS Reset */

* {

    margin:0;
    padding:0;
    box-sizing: border-box;

}

html {

    font-family:'Lucida Sans';
}

img { 

    height:100%;

}

/* Hero Section */

.hero-section {

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/slide.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
}


.hero-container {

    padding-left:40px;
    height:100vh;
    position: relative;

    
}

.hero-nav { 

    display:flex;
    justify-content: space-between;
    height:100px;

}

.hero-nav > ul {

    display:flex;
    align-items: center;
    color : white;
    list-style: none;
    
}

.hero-nav > ul > li {

    margin-right:30px;
    font-size : 14px;
    

}

.hero-nav > ul > li:last-child {

    margin-right: 0;

}

.hero-slideshow {  

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.hero-header-text {
    
    color:white;
    font-size: 45px;
    margin-bottom: 50px;
    

}

.hero-slideshow > ul {

    display:flex;
    justify-content: center;
    list-style: none; 

}

/* Utilities */

.dot {

    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right:20px;
    
}

.arrow {

    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;

}

.down {

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.btn {

    background-color: #0078BE;
    color:white;
    border:none;
    border-radius: 20px;
    padding :10px 20px;

}